@model BytPax.Models.Article

<h2>Редагувати статтю</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        <label>Тема</label>
        @Html.TextBoxFor(m => m.Topic, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Зміст</label>
        @Html.TextAreaFor(m => m.BodyText, new { @class = "form-control", rows = 5 })
    </div>

    <button type="submit" class="btn btn-primary mt-2">Оновити</button>
}
